.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-button{
  margin: 20px;
  color: white;
  background-color: tomato;
  font-size: 1.2em;
  text-align: center;
  line-height: 50px;
  border: 1px solid red;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.setting-button{
  color: tomato;
  cursor: pointer;
}

