.root{
    border: 3px solid red;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }


.time{
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-size: 3em;
    color: tomato;
}