.timesetter-container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timersetter-title {
  font-size: 1.5em;
  margin-right: 30px;
}

.timesetter-number-container{
  font-size: 2em;
  margin: 0 5px;
}

.timesetter-button{
  font-size: 0.8em;
}

.timesetter-number{
  width: 25px;
  border: 1px solid black;
}

.timesetter-unit{
  font-size: 1.5em;
  margin-left: 20px;
}

.timesetter-eidt-button{
  font-size: 1.2em;
  margin-left: 30px;
}
