.timesetter-container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: tomato;
}

.timersetter-title {
  font-size: 1.5em;
  margin-right: 30px;
  margin-left: 65px;
}

.timesetter-number-container{
  font-size: 2em;
  margin: 0 5px;
}

.timesetter-button{
  font-size: 1.2em;
  cursor: pointer;
}

.timesetter-number{
  font-size: 1.5em;
  width: 50px;
  border-radius: 5px;
  border: 1px solid tomato;
}

.timesetter-unit{
  font-size: 1.5em;
  margin-left: 20px;
}

.timesetter-eidt-button{
  margin-left: 30px;
  margin: 20px;
  color: white;
  background-color: tomato;
  text-align: center;
  line-height: 30px;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
